<div class="form-group row">
  <label class="col-form-label col-sm-2" for="reponse">Username</label>
  <div class="col-sm-7">
    <input class="form-control" name="reponse" value="<%= model.username %>" />
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="reponse">Password</label>
  <div class="col-sm-7">
    <input class="form-control" name="reponse" value="<%= model.username %>" />
  </div>
</div>
